.head{
    border: 1px solid black;
}
.headerdiv{
    display: flex;
    justify-content: space-between;
  
}
.headerbutton{
    z-index: 12761723645;
}
.menubody{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}